/* NAV STYLES */

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    background-color: whitesmoke;
}
.nav-list {
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
}
.nav-logo {
    padding-left: 1em;
}

.nav-link {
    z-index: 99;
}
