/* HOME PAGE */

.homepage {
    /* background-color: pink; */
    height: 100%;
}

.home-collections {
    /* border: 2px solid blue; */
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 4vw;
    /* padding: 20px 0; */
    height: 100%;
}