/* FOOTER STYLES */
footer {
    border-top: 16px solid rgb(97, 224, 38);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/graphics/brick.png);
    background-size: 75px;
    background-repeat: repeat;
    position:absolute;
    bottom: 0;
    width: 100%;
    margin-top: 150px;
}

.info {
    background-color: white;
    padding: 1em;
}

.footer-text {
    /* border: 1px solid green; */
    font-size: 12px;
    line-height: 1.4;
    
}

.ft2 {
    padding-bottom: .5em;
}

.glb {
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-end;
    padding-top: .5em;
}
.star-gif {
    height: 17px;
    margin: 0 4px;
}
