.create-snippet-page {
    min-height: 90vh;
    padding-bottom: 200px;
    background-image: url(../../assets/clouds.jpg);
	background-size: contain;
}

.snippet-form-block {
    width: 65vw !important;
}

textarea.snip-code-input {
    font-family: 'Dogica' !important;
}